{% if function('is_front_page') == false %}
<div class="tag">
    <div class="tag-list-label alignleft">Permalink</div>
    <p class="tag-list-item"><a href="{{ post.permalink }}">{{ post.permalink }}</a></p>
</div>
{% endif %}