<IfModule mod_rewrite.c>

    # cache busting
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteRule ^(.+)\.(\d+)\.(js|css|png|PNG|jpg|JPG|jpeg|JPEG|gif|GIF|eot|woff|ttf|svg)$ $1.$3 [L]

     # force non www
     RewriteCond %{HTTP_HOST} ^www\.gigazonegaming\.com [NC]
     RewriteRule ^(.*)$ https://gigazonegaming\.com/$1 [L,R=301]

    # force https for all but local development
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} !^gigazonegaming\.local$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]

</IfModule>

# Wordpress .htaccess rules, don't put anything in this block that you don't want over written
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
