@mixin bs-full-width-columns {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .row {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .row > div[class*='col-'] {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}

@mixin margin-padding($multiplier)
{
  .margin {
    @include margin($multiplier, $multiplier);
  }
  .margin-before {
    @include margin-top($multiplier);
  }
  .margin-after {
    @include margin-bottom($multiplier);
  }
  .padding {
    @include padding-equal($multiplier)
  }
  .padding-before {
    @include padding-top($multiplier);
  }
  .padding-after {
    @include padding-bottom($multiplier);
  }

}