@mixin bs-full-width-columns {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .row {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .row > div[class*='col-'] {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}