@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin height($number) {
  height: #{ $number * $leading + 'px'};
  height: #{ $number * $leading-rem + 'rem'};
}

@mixin max-h($number) {
  max-height: #{ $number * $leading + 'px'};
  max-height: #{ $number * $leading-rem + 'rem'};
}

@mixin min-h($number) {
  min-height: #{ $number * $leading + 'px'};
  min-height: #{ $number * $leading-rem + 'rem'};
}

@mixin width($number) {
  width: #{ $number * $leading + 'px'};
  width: #{ $number * $leading-rem + 'rem'};
}

@mixin max-w($number) {
  max-width: #{ $number * $leading + 'px'};
  max-width: #{ $number * $leading-rem + 'rem'};
}

@mixin min-w($number) {
  min-width: #{ $number * $leading + 'px'};
  min-width: #{ $number * $leading-rem + 'rem'};
}

@mixin top($number) {
  top: #{ $number * $leading + 'px'};
  top: #{ $number * $leading-rem + 'rem'};
}

@mixin right($number) {
  right: #{ $number * $leading + 'px'};
  right: #{ $number * $leading-rem + 'rem'};
}

// padding top
@mixin padding-top($number) {
  padding-top: #{ $number * $leading + 'px'};
  padding-top: #{ $number * $leading-rem + 'rem'};
}

// padding bottom
@mixin padding-bottom($number) {
  padding-bottom: #{ $number * $leading + 'px'};
  padding-bottom: #{ $number * $leading-rem + 'rem'};
}

// padding right
@mixin padding-right($number) {
  padding-right: #{ $number * $leading + 'px'};
  padding-right: #{ $number * $leading-rem + 'rem'};
}

// padding left
@mixin padding-left($number) {
  padding-left: #{ $number * $leading + 'px'};
  padding-left: #{ $number * $leading-rem + 'rem'};
}

// Margin-left
@mixin margin-left($number) {
  margin-left: #{ $number * $leading + 'px'};
  margin-left: #{ $number * $leading-rem + 'rem'};
}

// Margin-right
@mixin margin-right($number) {
  margin-right: #{ $number * $leading + 'px'};
  margin-right: #{ $number * $leading-rem + 'rem'};
}

// set a minimum height
@mixin min-height($number)
{
  min-height: #{ $number * $leading + 'px'};
  min-height: #{ $number * $leading-rem + 'rem'};
}

// set a minimum width
@mixin min-width($number)
{
  min-width: #{ $number * $leading + 'px'};
  min-width: #{ $number * $leading-rem + 'rem'};
}