@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin height($number) {
  height: #{ $number * $leading + 'px'};
  height: #{ $number * $leading-rem + 'rem'};
}

@mixin width($number) {
  width: #{ $number * $leading + 'px'};
  width: #{ $number * $leading-rem + 'rem'};
}

@mixin top($number) {
  top: #{ $number * $leading + 'px'};
  top: #{ $number * $leading-rem + 'rem'};
}

@mixin right($number) {
  top: #{ $number * $leading + 'px'};
  top: #{ $number * $leading-rem + 'rem'};
}

// Margin-top
@mixin padding-top($number) {
  padding-top: #{ $number * $leading + 'px'};
  padding-top: #{ $number * $leading-rem + 'rem'};
}

// Margin-bottom
@mixin padding-bottom($number) {
  padding-bottom: #{ $number * $leading + 'px'};
  padding-bottom: #{ $number * $leading-rem + 'rem'};
}