originals/*
vendor/*
!resources/views/vendor
!resources/lang/vendor
.env
.env.jenkins
.idea/*
puphpet/config.yaml
parse_yaml.sh
puphpet/config-custom.yaml
puphpet/config-local.yaml
build/config/**/production*
build/config/**/staging*
public_html/wp-content/plugins/*
public_html/wp-content/uploads/*
public_html/wp-content/themes/twentysixteen
.vagrant
public_html/wp
public_html/wp-content/themes/gigazone-gaming/css
public_html/wp-content/themes/gigazone-gaming/js
public_html/wp-content/themes/gigazone-gaming/views
build/GIGAZONEGAMING-staging-master.tar.gz
build/GIGAZONEGAMING-staging-master.zip
composer.phar
codecept.phar

tests/_output/*
_ide_helper.php
.phpstorm.meta.php
tests/_support/_generated
codecept-result.log
c3.php
build/GIGAZONEGAMING-production-master.tar.gz
build/GIGAZONEGAMING-production-master.zip
build/GIGAZONEGAMING-staging-master
.phing_targets
jenkins.sh
jenkins_setup.sh
vm_flush.sh
!public_html/wp-content/index.php
!public_html/wp-content/plugins/gzg-manager
cache
config/ide-helper.php
coverage-checker.php
.sass-cache/*
node_modules/*
public_html/bower_components/*
ModelFactory.php.orig
composer.lock
build/packaging
build/staging-deployment/build/packaging
.mertrc
test_runner.sh
.github-todos
video
storage/framework/schedule*
build/production-deploy
queue.pid
presentations
nul
gigazone_champ_db.sql
gigazone_wp.sql
individualPlayersTableBkup.csv
PlayersTableBkup.csv
gzgaming_sentinel.sql
database/dump/gzgaming_champ_db.sql
database/dump/gzgaming_wp.sql
form-template.haml.old
public_html/app/content/js
public_html/app/content/css
!public_html/app/content/css/app.css
PlayerRelationable.php.orig
phpunit.phar
database/dump/w3.paulbunyan.netgigazone_champ_db
database/dump/w3.paulbunyan.netgigazone_wp
database/dump/w3.paulbunyan.net.gigazone_champ_db.10-13-16.sql
database/dump/w3.paulbunyan.net.gigazone_wp.10-13-16.sql
