originals/*
vendor/*
!resources/views/vendor
!resources/lang/vendor
.env
.enc-pass
.env.bk
.env.jenkins
.idea/*
puphpet/config.yaml
!puphpet/config.enc
!puphpet/config-custom.enc
parse_yaml.sh
puphpet/config-custom.yaml
puphpet/config-local.yaml
build/config/**/production*
build/config/**/staging*
public_html/wp-content/plugins/*
public_html/wp-content/uploads/*
public_html/wp-content/themes/twentysixteen
.vagrant
public_html/wp
public_html/wp-content/themes/gigazone-gaming/css
public_html/wp-content/themes/gigazone-gaming/js
public_html/wp-content/themes/gigazone-gaming/views
build/GIGAZONEGAMING-staging-master.tar.gz
build/GIGAZONEGAMING-staging-master.zip
composer.phar
codecept.phar
tests/_output/*
_ide_helper.php
.phpstorm.meta.php
tests/_support/_generated
codecept-result.log
c3.php
build/GIGAZONEGAMING-production-master.tar.gz
build/GIGAZONEGAMING-production-master.zip
build/GIGAZONEGAMING-staging-master
.phing_targets
jenkins.sh
jenkins_setup.sh
vm_flush.sh
!public_html/wp-content/index.php
!public_html/wp-content/plugins/gzg-manager
cache
config/ide-helper.php
coverage-checker.php
.sass-cache/*
node_modules/*
public_html/bower_components/*
ModelFactory.php.orig
composer.lock
build/packaging
build/staging-deployment/build/packaging
.mertrc
test_runner.sh
.github-todos
video
storage/framework/schedule*
build/production-deploy
queue.pid
presentations
nul
gigazone_champ_db.sql
gigazone_wp.sql
individualPlayersTableBkup.csv
PlayersTableBkup.csv
gzgaming_sentinel.sql
database/dump/gzgaming_champ_db.sql
database/dump/gzgaming_wp.sql
form-template.haml.old
public_html/app/content/js
public_html/app/content/css
public_html/app/content/libraries
!public_html/app/content/css/app.css
PlayerRelationable.php.orig
phpunit.phar
database/dump/w3.paulbunyan.netgigazone_champ_db
database/dump/w3.paulbunyan.netgigazone_wp
database/dump/w3.paulbunyan.net.gigazone_champ_db.10-13-16.sql
database/dump/w3.paulbunyan.net.gigazone_wp.10-13-16.sql

!puphpet/files/**/*
gigazonegaming.sublime-project
gigazonegaming.sublime-workspace
.DS_Store
html/adminer
html/adminer.php
html/index.html
install_runner.sh
.env.bak
doc.html
test.sh
build/config/hosts/jenkins.host
build/config/jenkins.config
GIGAZONEGAMING-jenkins-master.tar.gz
database/dump/bak
puphpet/bak/config-custom.yaml
puphpet/bak/config.yaml
puphpet/files/exec-always/node-v6.8.0.tar.gz
puphpet/files/exec-always/node-v6.8.0.tar.gz.1
puphpet/files/exec-always/node-v6.8.0/**/*
puphpet/files/exec-always/node-v6.8.0/*
public_html/wp-content/themes/gigazone-gaming/libraries
resources/assets/sass/libraries
resources/wp-content/themes/gigazone-gaming/sass/libraries
decrypt-files.sh
encrypt-files.sh
public_html/app/content/sass/libraries
phan.phar
