%script{:src=>"{{ (theme_dir~'/js/common-require.js') | auto_version_path }}"}
%script{:src=>"{{ '/bower_components/requirejs/require.js'|auto_version_path }}"}
%script{:src=>"{{ (theme_dir~'/js/main-require.js') | auto_version_path }}"}