%div{:id=>"footer-content"}
  .footer--items-container
    .container
      %div{:class=>"row row-flex row-flex-wrap"}
        {% if footer_highlight_links is defined and footer_highlight_links|length > 0 %}
        {% for link in footer_highlight_links %}
        .col-sm-4
          %div{:class=>"sidebar-highlight-link footer--highlight-link  flex-col"}
            .sidebar-highlight-link-title
              {% if link.link_image|length > 0 %}
              %a{:href=>"{{link.link_url}}", :target=>"{{ link.link_target }}"}
                %img{:src => "{{link.link_image}}", :alt => "{{ link.link_name }}", :class=>"footer-hightlight-title"}
              {% else %}
              %h3{:class=>"sidebar-highlight-title"}
                %a{:href=>"{{link.link_url}}", :target=>"{{ link.link_target }}"} {{ link.link_name }}
              {% endif %}
            %p{:class=>"sidebar-highlight-link-description footer-highlight-link-description"}
              {% if link.link_image|length > 0 %}
              %strong {{ link.link_name }}
              {% endif %}
              {{ link.link_description }}
              %br/
              %a{:href=>"{{link.link_url}}", :target=>"{{ link.link_target }}"}
                %strong Learn More&#8230;
        {% endfor %}
        {% endif %}
  .footer--bottom
    .container
      .row
        .col-sm-6
          %div{:class=>"text-left font--display text-uppercase footer--information"}

            %hr{:class=>"divider horizontal dashed slim"}
            %strong
              Content &copy; {{ first_post.post_date|date("Y") }} - {{ "now"|date('Y') }} {{ function('get_option','blogname') }}, all the things reserved.
            %hr{:class=>"divider horizontal dashed slim"}
            %strong
              Presented By:
            %br/
            %span{:class=>"logos--pbc-on-dark footer--presented-by-logo"}
              Paul Bunyan Communications, Right Here
            %hr{:class=>"divider horizontal dashed slim"}

        .col-sm-6
          .sidebar
            .sidebar-social-media
              %ul{:class=>"footer--bottom--social-list"}
                \<li class="inline-block footer--bottom--social-list-item">{% include 'partials/social-media.twig' %}</li><li class="inline-block footer--bottom--social-list-item">{% include "partials/wigets/constant_contact_signup_button.twig" %}</li>
{% include "partials/footer-js.twig" %}
