%head
  %meta{:charset=>"utf-8"}/
  %meta{:"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}/
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}/
  -# get request_token if set
  {% if request_token is defined %}
  %meta{:name=>"request_token", :content=>"{{ request_token }}"}/
  {% endif %}
  {% if function('is_singular') and function('pings_open', function('get_queried_object')) %}
  %link{:rel=>"pingback", :href=>"{{ function('bloginfo','pingback_url') }}"}/
  {% endif %}
  {% include "partials/header-title.twig" %}
  {{ function('wp_head') }}
  %link{:rel=>"stylesheet", :href=>"{{ '/bower_components/bootstrap/dist/css/bootstrap.min.css' | auto_version_path }}"}/
  %link{:rel=>"stylesheet", :href=>"{{ '/bower_components/font-awesome/css/font-awesome.min.css' | auto_version_path }}"}/
  %link{:rel=>"stylesheet", :href=>"{{ (theme_dir~'/css/style.css') | auto_version_path }}"}/
  %script{ :src=>"https://use.typekit.net/bhh0sxx.js"}
  %script try{Typekit.load({ async: true });}catch(e){}
