{% if social_links is defined %}
{% for social in social_links %}
%div{:class=>"social-media"}
  %a{:href=>"{{ social.link_url }}", :target=>"{{ social.link_target }}"}
    %i{:class=>"fa fa-{{ social.link_name|slugify }}"}
{% endfor %}
{% endif %}
