<div class="row">
    <div class="col-sm-8 col-md-9">
        {% if posts.post_count > 1 %}
            {% include 'partials/page-title.twig' with {'page' : section} %}

        {% else %}

        {% include 'partials/page-title.twig' %}
            <div class="post-content">
            {{ function("apply_filters","the_content", page.post_content) }}
            </div>
        {% endif %}
    </div>
    <div class="col-sm-4 col-md-3">
        {% include 'partials/sidebar.twig' %}
    </div>
</div>