{% if tag is defined %}
    {% include "partials/tag-title.twig" %}
{% endif %}
{% if category is defined %}
    {% include "partials/category-title.twig" %}
{% endif %}
{% if posts is defined and posts|length > 1 %}
    {% include "partials/section-title.twig" %}
    {% for p in posts %}
        <div class="post-list-item {{ post.class }}">
            {% include "partials/post-title.twig" with {'title':p.post_title, 'this_post':p, 'single':false} %}
            {% if p.post_excerpt != '' %}
                {{ function("apply_filters","the_content", post.post_excerpt) }}
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="{{ post.class }}">
        {% include "partials/post-title.twig" with {'title':post.post_title, 'this_post':post, 'single':true} %}
        {{ function("apply_filters","the_content", post.post_content) }}
        {% if section is not defined or ( section is defined and section.post_name == 'blog' ) %}
            {% include "partials/post-permalink.twig" %}
            {% include "partials/post-tags.twig" %}
        {% endif %}

    </div>
{% endif %}
