<div class="sidebar">
    <div class="sidebar-social-media">{% include 'partials/social-media.twig' %}</div>
    {% include 'partials/sidebar-section-nav.twig' %}
    {% include 'partials/sidebar-highlight-links.twig' %}
</div>