vagrantfile:
    vm:
        provider:
            local:
                chosen_virtualizer: virtualbox
                machines:
                    machine1:
                        id: gigazonegaming1
                        hostname: gigazonegaming1.puphpet
                        network:
                            private_network: 192.168.56.101
apache:
    vhosts:
        vhost1:
            servername: gigazonegaming.local
            docroot: /var/www/public_html
            directories:
                directory1:
                    path: /var/www/public_html
xdebug:
        install: '1'
mysql:
    settings:
        root_password: 'root'
    users:
        user1:
            name: user
            password: 'password'
        user2:
            name: user_2
            password: 'password_2'
    databases:
        database1:
            name: gzgaming_wp
            sql: '/var/www/sql/gzgaming_wp.sql'
        database2:
            name: gzgaming_champ_db
            sql: '/var/www/sql/gzgaming_champ_db.sql'
    grants:
        grant1:
            user: user
            table: 'gzgaming_wp.*'
            privileges:
              - ALL
        grant2:
            user: user_2
            table: 'gzgaming_champ_db.*'
            privileges:
              - ALL