a {
  color: $color-gz-gray;
  text-decoration: underline;
  &:hover, &:active {
    color: darken($color-gz-gray, 50);
  }
  &:visited {
    color: $color-complement-2;
  }
}

.page {
  img {
    max-width: 100%;
    height: auto;
  }
}