a {
  color: $color-gz-gray;
  text-decoration: underline;
  &:hover, &:active {
    color: darken($color-gz-gray, 50);
  }
  &:visited {
    color: $color-complement-2;
  }

  .light & {
    color: tint($color-light-gray, 45%);

    &:hover, &:active {
      color: tint($color-light-gray, 55%);
    }
    &:visited {
      color: tint($color-light-gray, 55%);
    }
  }
}

.page {
  img {
    max-width: 100%;
    height: auto;
  }
}