/** Form elements **/

legend {
  font-family: $font-family-display;
  text-transform: uppercase;
}

.hide-legend legend, legend.hide {
  display: none;
}

.form-group.hidden-group {
  margin-bottom: 0;
}

.form-control:focus {
  border-color: $color-gz-orange;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(red($color-gz-orange),green($color-gz-orange),blue($color-gz-orange),.6);
}

.bootstrap-switch {
  & .bootstrap-switch-handle-on, & .bootstrap-switch-handle-off, & .bootstrap-switch-label {
    font-family: $font-family-display;
    text-transform: uppercase;
  }

  &:hover .bootstrap-switch-handle-off {
    background: tint($color-gz-gray, 75) !important;
  }

  &:hover .bootstrap-switch-handle-on {
    background: tint($color-gz-orange, 10) !important;
  }

  &.bootstrap-switch-focused {
    border-color: $color-gz-orange !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(red($color-gz-orange),green($color-gz-orange),blue($color-gz-orange),.6) !important;

  }

  & .bootstrap-switch-handle-on {
    background: $color-gz-orange !important;
    color: $color-gz-gray !important;

  }

  & .bootstrap-switch-handle-off {
    background: tint($color-gz-gray, 65) !important;
    color: $color-gz-gray !important;
  }

}

.hide-text-label {
  $inputs: email text;
  @each $input in $inputs {
    .#{$input}-group label {
      display: none;
    }
  }
}

.sidebar-form-container {
  div[class^="col-"] {
    width: 100%;
    padding: 0 0%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;

    &.message-outer-container {
      width: 86%;
      margin-left: 7%;
      margin-right: 7%;
    }
  }
  input[type="text"], input[type="email"] {
    width: 100%;
    margin: 0;
  }

  .btn-gz {
    width: 100%;
  }

  .progress-container {
    width: 100%;
    text-align: center;
    @include margin-top(.5);
    @include margin-bottom(.5);
  }


  .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
  }
}