@import "../../../../../../public_html/bower_components/sass-flex-mixin/flex";
@include margin-padding(1);
@include mq-cinema {
  @include margin-padding(1.25);
}
@include mq-tablet {
  @include margin-padding(.875);
}
@include mq-phone {
  @include margin-padding(.675);
}

/*
 * Row with equal height columns
 http://www.bootply.com/126437

 Usage with bootstrap grid:

 <div class="container">
     <div class="row row-flex">
        <div class="col-md-6">
          <div class="flex-col"><!-- .flex-col inside col-* div -->
              These columns will have the same height
          </div>
        </div>
        <div class="col-md-6">
          <div class="flex-col">
              <div class="flex-grow"> <!-- .flex-grow to expand a sub box to height or parent
              These columns will have the same height
              </div>
          </div>
        </div>
     </div>
 </div>

 * --------------------------------------------------
 */
.row-flex, .row-flex > div[class*='col-'] {
  @include flexbox;
  @include flex(1 1 auto);
}

.row-flex-wrap {
  @include flex-flow(row wrap);
  @include align-content(flex-start);
  @include flex(0);
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}


.flex-col {
  @include flexbox;
  @include flex(1 100%);
  @include flex-flow(column nowrap);
}

.flex-grow {
  @include flexbox;
  @include flex(2);
}