$masthead-logo-graphic: 'images/logos/gigazone-gaming-championship-x-horizontal-white.svg';
$masthead-logo-base-height: 46px;
$masthead-logo-base-width: 295px;
$masthead-logo-multiplier: 1.75;

.masthead {
  // .masthead-container class
  &-container {
    background: transparent url($theme-directory + 'images/backgrounds/social-banner-v-1.jpg') repeat-x center left;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      opacity: .95;
      @include background-image(linear-gradient(tint($color-black, 10%), $color-black));
      position: absolute;
      top: 0;
      right: 0
    }

  }

  // .masthead-logo class
  &-logo {
    @include padding-top(.75);
    @include padding-bottom(.75);
    @include mq_phone {
      width: 100%;
      @include padding-top(1);
      @include padding-bottom(0);

    }
    a {
      background: transparent url($theme-directory + $masthead-logo-graphic) top left no-repeat;
      height: $masthead-logo-base-height * $masthead-logo-multiplier;
      width: $masthead-logo-base-width * $masthead-logo-multiplier;
      display: block;
      text-decoration: none;
      text-indent: -9999px;

      @include mq-phone {
        background-size: contain;
        background-position-x: center;
        height: $masthead-logo-base-height * $masthead-logo-multiplier;
        width: 100%;
      }
    }
  }

  // .masthead-navigation class
  &-navigation {
    text-align: right;
    @include padding-top(.75);
    @include padding-bottom(.75);
    width: 100%;
    height: $masthead-logo-base-height * $masthead-logo-multiplier;
    position: relative;
    vertical-align: bottom;
    @include mq-phone {
      height: 23px;
      display: table;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      @include margin-top(.5);
      @include margin-bottom(.5);
      text-align: center;
    }
    // .masthead-navigation-menu
    ul {
      padding: 0;
      margin: 0;
      li {
        @include margin(0, .25, .25, 0);
        padding: 0;
        list-style: none;
        background: none;
        display: inline-block;

        &::before {
          display: none;
        }
        a {
          display: block;
          width: 100%;
          background: $color-gz-orange;
          text-decoration: none;
          text-align: center;
          color: $color-gz-gray;
          @include padding(0, .375);
          border: 2px solid $color-gz-orange;
          border-radius: 4px;
          font-family: $font-family-display;
          @include font-size(1.125);
          text-transform: uppercase;
          @include mq_phone {
            @include font-size(1);
            @include padding(.125, .25, 0, .25);
          }

          &:hover {
            border-color: $color-gz-gray;
            background: $color-gz-gray;
            color: $color-white;
            color: $color-white;
          }
        }
      }
    }

  }
  &-event {
    &-date {
      color: $color-white;
      font-family: $font-family-display;
      text-transform: uppercase;
      @include font-size(2);
      @include padding-equal(.5);
      text-align: right;
      margin: 0;
      @include margin-top(1);
    }

    &-location {
      color: $color-gz-orange;
      font-family: $font-family-display;
      text-transform: uppercase;
      @include font-size(2);
      @include padding-equal(.5);
      text-align: right;
      margin: 0;
    }

    &-date + &-location {
      padding-top: 0;
      @include margin-top(-.625)
    }

    &-date, &-location {
      @include mq-cinema {
        @include font-size(2.25);
      }
      @include mq-phone {
        text-align: center;
        @include font-size(1.75);
        margin-top: 0;
      }
    }
  }
}
