.photo-rotator-container {
  position: relative;
  background:  $color-dark-gray;
  z-index: 1;
  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.masthead-photo-rotator-outer-container {
  position: relative;
}
.masthead-photo-rotator-container {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.masthead-photo-rotator-item {
  @extend .masthead-photo-rotator-container;
  list-style: none;
  text-align: center;

  & > a {
    display: block;
    width: 100%;
    height: 100%;
    & > img {
      max-height: none;
      height: auto;
      max-width: 100%;
    }
  }

  &:before {
    display: none;
  }
  & > img {
    max-height: none;
    height: auto;
    max-width: 100%;
  }
}

.masthead-photo-rotator-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($color-black, 0.75);
  color: $color-white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 1em;
}


.rslides_nav {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 99;
  //text-indent: -9999px;
  overflow: visible;
  text-decoration: none;
  @include height(6);
  @include width(6);
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  @include font-size(6);
  background: none;
  border: none;
  text-align: center;
  opacity: .0625;
  color: $color-white;

  &:visited {
    color: $color-white;
  }

  &:hover, &:active {
    display: block;
    z-index: 9999;
    opacity: 0.85;
    color: $color-white;

  }

  &.next {
    right: 0;
}

  .rotator-nav-item {
    position: absolute;
    @include height(6);
    @include width(6);
    @include line-height(6);
    top: #{ -3 * $leading + 'px'};
    top: #{ -3 * $leading-rem + 'rem'};
    left: 0;
  }

  &.next .rotator-nav-item {
    right: 0;
    left: auto;
  }

  // rslides_nav on tablet
  @include mq-tablet {
    @include font-size(4);
    @include height(4);
    @include width(4);
  }

  // rslides_nav on phone
  @include mq-phone {
    @include font-size(3.5);
    @include height(3.5);
    @include width(3.5);
  }

  // rotator-nav-item on tablet
  .rotator-nav-item {
    @include mq-tablet {
      @include height(4);
      @include width(4);
      @include line-height(4);
      top: #{ -2 * $leading + 'px'};
      top: #{ -2 * $leading-rem + 'rem'};
    }

    // rotator-nav-item on phone
    @include mq-phone {
      @include height(3.5);
      @include width(3.5);
      @include line-height(3.5);
      top: #{ -(3.5/2) * $leading + 'px'};
      top: #{ -(3.5/2) * $leading-rem + 'rem'};
    }
  }
}



