.article-container {
  margin-top: -1px;

  @include mq-phone {
    @include bs-full-width-columns;
  }
}

.title-page {
  @include font-size(5.875);
  @include line-height(3.875);
  @include margin-bottom(1.375);
  @include margin-top(1.375);
  color: $color-gz-gray;

  .next-to-title-page.post-thumbnail + & {
    a {
      @include padding(0,0,0,.625);
    }
  }
  a {
    text-decoration: none;
    border-bottom: 8px solid $color-white;
    @include line-height(4.875);

    &:hover, &:active, &.hover {
      border-bottom-color: $color-gz-gray;
      color: $color-gz-gray;
    }

    &.title-section {
      @include line-height(1);
    }
  }

  @include mq-cinema {
    @include font-size(6.875);
    @include line-height(4.875);
    @include margin-bottom(1.375);
    @include margin-top(2);
  }
  @include mq-phone {
    @include font-size(3.125);
    @include line-height(2.125);
    @include margin(1, 0)
  }
}

.title-section {
  @include font-size(1.875);
  @include line-height(1);
  @include margin(2.125,0,.5,.25);
  @include padding-bottom(.625);
  color: tint($color-gz-orange, 50%);
  text-decoration: none;
  display: block;
  border-bottom: 1px solid tint($color-gz-orange, 75%);
  text-transform: uppercase;

  @include mq-phone {
    @include margin(2.125,0,.25,0);
    @include font-size(1.5);
    @include line-height(.875);
  }

  &:hover {
    text-decoration: none;
    color: $color-light-gray;
    border-bottom-color: $color-light-gray;
  }

  & + .title-page {
    margin-top: 0;
  }
}

.child-post {
  border-radius: 10px;
  @include padding-equal(1);
  @include margin-bottom(1);
  background-image: linear-gradient(to right, tint($color-light-gray, 85), $color-white);

}

.title-child {
  font-family: $font-family-display;
  @include font-size(5.2);
  @include line-height(4);
  @include margin-bottom(1.2);
}

// alignment of media

.alignleft {
  float: left;
  @include margin(.5, 0.5, 0.5, 0);
}

.alignright {
  float: right;
  @include margin(.5, 0, 0.5, 0.5);
}

.post {

  // .post-list-title, wrap around title that is in a list of other posts
  &-list-title {
    // .post-list-title > .title-page
    & > .title-page {
        @include font-size(5);
        @include margin-bottom(.75);
        @include line-height(3.75);
        @include mq-tablet {
          @include font-size(3.5);
          @include margin-bottom(.75);
          @include line-height(2.5);
        }
        @include mq-phone {
          @include font-size(3);
          @include margin-bottom(.75);
          @include line-height(2.25);
        }

      // .post-list-title .title-page a
      a {
          border-bottom-width: 6px;
          @include padding-bottom(0);
          @include line-height(.25);
          &:hover, &:active {
            color: $color-gz-orange;
            border-bottom-color: $color-gz-orange;
          }
        }
      }
  }

  &-title {
    //@include font-size(1.875);
    //@include line-height(1);
    //@include margin(2.125,0,.5,.25);
    //text-decoration: none;
    //text-transform: uppercase;
    @include margin-bottom(1);

    @include mq_tablet {
      @include font-size(4.5);
      @include line-height(3.125);
    }

  }

  &.format-standard {
    @include margin-bottom(1);
  }

  &-content {
    @include padding(0,0,0,0);
    @include margin-bottom(2);
    @include margin-top(-0.125);

    @include mq-phone {
      @include padding(0,1.5);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-child-sub-menu {
    & ul li {
      display: none;
    }
    & ul li.current_page_item,  & ul li.current_page_item li{
      display: block;
    }
  }

  &-permalink {
    background: tint($color-light-gray, 50%);
    @include font-size(1.25);
    line-height: normal;
    color: $color-gz-gray;
    @include padding-equal(.5);
    border-radius: 10px;
    @include margin-top(1);
    @include margin-bottom(1);
    display: table;

    a {
      color: $color-gz-gray;
      text-decoration: none;
      &:hover, &:active {
        color: $color-black;
      }
    }
  }
  &-list-item {
    padding: 0;
    &:last-child {
      border-bottom: none;
    }
    &:first-of-type {
      border-top: none;
    }
  }
  /**
   * Added styles for Attachment type post
   */
  &-attachment {
    overflow: hidden;
    border-radius: 5px;

    &-link {
      @include margin-top(1);
      border-radius: 10px;
      background-color: $gray-lighter;
      @include padding(.5, .5);
      a, p {
        @include font-size(1.5);
        font-family: $font-family-display;
        color: $gray-light;
        &:hover, &:active {
          color: $gray;
        }
      }
    }
  }
}

// special cases
h1.title-page + .post-list-item > .title-page:first-of-type {
  margin-top: 0;
}

.post-list-item-tag {
float: left;
  @include margin(0,.5,0,0);
}

.posted-on {
  margin-top: 0;
  margin-bottom: 0;
  .title-page + & {
    margin-top: 0;
    margin-bottom: 0;
  }
  .label, .time {
    color: $color-gz-gray;
    @include font-size(1);
  }
}

/**
 Post title with article image background
 will assume there is a background image on the post-title-bg div

 usages:
   <div class="post-title-with-bg">
            <div class="post-title-bg" style="background-image: url({{post.thumbnail.src}}); "></div>
            {% include "partials/post-title.twig" with {'title':post.post_title, 'this_post':post, 'single':true} %}
   </div>

 */
.post-title-with-bg {
  position: relative;
  @include margin-bottom(1.625);
  & .post-title {
    color: $color-dark-gray;
    @include padding(2.75, 1.75);
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    @include divider-dashed(1);
    position:absolute;
    @include margin-bottom(0);
    bottom: 0;
    left: 0;

    @include mq-tablet {
      @include height(.5);
      @include margin-bottom(-.5);
    }
    @include mq-phone {
      @include height(.5);
      @include margin-bottom(-.5);
    }

  }
}

.post-title-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 25% 110%;
  background-attachment: fixed;
  background-size: 250%;
  opacity: .1;
  z-index: -1;
  transform: rotate(180deg);

}
