.related-title {
  @extend .txt-color--highlight;
  font-weight: 400;
}

.related-posts {
  @include margin-bottom(1.5);

  &-container {
    @extend .bg-color--highlight;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 10;
    @include max-h(14);
    overflow: hidden;
    border-radius: 5px;
    @include padding-equal(.5);
    @include margin-bottom(1);

    &:hover {
      @extend .bg-color--branding;
      @extend .txt-color--branding;
    }
  }

  &-title {
    @extend .txt-color--highlight;
  }

  &-image {
    position: relative;
    background-image: linear-gradient(180deg, $color-gz-gray 25%, $color-gz-orange 65%, $color-white);
    overflow: hidden;
    border-radius: 10px;
    @include min-h(5);

    a {
      display: block;
      position: relative;
      @include height(13);
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      opacity: .5;
      text-decoration: none;
      content: "";
      &:hover {
        opacity: .6;
      }
    }
    img {
      opacity: .1;
      max-height:  100%;
      width: auto;
    }
  }

  &-title {
    position: absolute;
    top: 0;
    left: 0;
    @include padding-equal(1);
    pointer-events: none;
    &-text {
      @extend .text-color--light;
      @include font-size(2.125);
      @include line-height(1.75);

      @include mq-tablet {
        @include font-size(1.875);
        @include line-height(1.5);
      }

      @include mq-phone {
        @include font-size(1.875);
        @include line-height(1.5);
      }

      a {
        @extend .text-color--light;
        text-decoration: none;
        &:visited {
          @extend .text-color--light;
        }
        &:active, &:hover {
          @extend .text-color--highlight;
        }
      }
    }
  }

  // Force the title text to color
  &-container:hover .related-posts-title > .related-posts-title-text {
    @extend .text-color--branding;
    @include text-stroke(2, $color-dark-gray);
    & a {
      @extend .text-color--branding;
    }

  }
}