.sidebar {
  @include background-image(linear-gradient($color-white, tint($color-light-gray, 85), tint($color-light-gray, 50)));
  @include border-radius(#{ 1 * $leading + 'px'});
  @include border-radius(#{ 1 * $leading-rem + 'rem'});
  overflow: hidden;
  @include padding(0,0);
  @include margin-bottom(1);
  @include margin-top(1);

  @include mq-tablet {
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
  }

  @include mq-phone {
    margin-bottom: 0;
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    @include border-radius(0);
  }

  // special case for when the sidebar class is called in the footer
  [class^="footer-"] & {
    @include margin(0,0); // HOOT
    @include padding-top(0.5);
    background: none;
  }

  &-highlight-link {
    @include padding(.5, .5, 1, .5);
    background: rgba($color-white, 0.25);
    @include border-radius(#{ 1 * $leading + 'px'});
    @include border-radius(#{ 1 * $leading-rem + 'rem'});
    @include margin(0, .5, .5, .5);

    &-title {
      text-align: center;
      @include padding-equal(.75);
      //@include height(4);
      @include line-height(0);
      background: $color-white;
      @include border-radius(#{ .5 * $leading + 'px'});
      @include border-radius(#{ .5 * $leading-rem + 'rem'});
      @include font-size(2);
      font-weight: 700;

      @include mq_tablet {
        @include height(3);
      }

      @include mq_phone {
        @include height(4.5);
        @include line-height(3.5);
      }

      & a {
        display: block;
        height: 100%;
        width: 100%;
      }

      img {
        max-height: 100%;
        width: auto;
        max-width: 100%;

        @include mq-phone {
          max-height: 100%;
        }
      }
    }

    &-description {
      @include line-height(1.25);
      @include font-size(1.375);
      text-align: center;
      @include margin-top(1);
      @include margin-bottom(0);
      padding: 0;
    }

    .well-gz {
      background-color: $color-white;
      border: none;
      margin: 0;
      @include border-radius(#{ .5 * $leading + 'px'});
      @include border-radius(#{ .5 * $leading-rem + 'rem'});
    }

    label, .checkbox label, .radio label {
      @include font-size(1.375);
      @include line-height(1.25);
      font-weight: 700;

    }

    legend {
      @include font-size(1.625);
      @include line-height(1.375);
      @include margin-bottom(1);
      text-align: center;
    }

    .input[type="text"],  .input[type="email"]{
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }


    .alert, .alert p {
      @include font-size(1.25);
      @include line-height(1.125);
    }

  }

  &-social-media {
    display: table;
    margin-left: auto;
    margin-right: auto;

    @include mq-tablet {
      display: none;
    }
  }

  @include social-media(1.9);

  &-section-nav {
    @include margin-top(.5);
    @include margin-bottom(.5);
    h2 {
      @include font-size(2.125);
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(0);
      @include padding(1, .5, .75, .5);
      background-color: $color-gz-gray;
      color: $color-white;
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0;
      margin: 0;
      text-align: center;
      width: 100%;

      &.current_page_item > a, &.current-menu-item > a {
        background: tint($color-gz-gray, 65);
        color: $color-dark-gray;
      }

      a {
        border-bottom: 1px solid $color-light-gray;
        color: $color-black;
        @include font-size(1.5);
        @include line-height(1.25);
        @include padding-equal(.5);
        display: block;
        background: tint($color-gz-gray, 90);
        text-decoration: none;

        &:hover {
          background: tint($color-gz-gray, 65);
          color: $color-dark-gray;
          text-decoration: none;

        }

      }

      &::before {
        display: none;
      }
    }

  }



}