@import "bourbon/bourbon";

.splash {
  // .splash.page
  &.page {
    background: $color-gz-gray url($theme-directory + 'images/backgrounds/gray-texture.png') repeat top center;
  }
  &-outer {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;

    &.relative, .relative & {
      position: relative;
    }
  }
  // .home-container
  &-container {
    display: table-cell;
    vertical-align: middle;
    @include padding-bottom(2);
    @include padding-top(2);
  }
  // .home-inner-container
  &-inner-container {
    @include padding-equal(2);
    background: $color-white;
    border-radius: #{ 1 * $leading + 'px'};
    border-radius: #{ 1 * $leading-rem + 'rem'};
    border: 8px solid $color-gz-orange;
    background: transparent inline_image('backgrounds/social-banner-v-1.jpg') repeat top left;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    &-bg {
      opacity: .96;
      @include background-image(linear-gradient($color-black, tint($color-black, 10%)));
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
  // .home .masthead-logo
  .masthead-logo {
    padding-top: 0;
    z-index: 999;
    position: relative;
    h1 {
      padding-top: 0;
      margin-top: 0;
    }
    a {
      width: 100%;
      background-position-x: center;
      @include height(8);

      @include mq-phone {
        @include height(6);
      }
    }
  }

  &-content {
    position: relative;

    p, h1, h2, h3, h4, h5, h6, li {
      color: $color-white;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a:not(.btn) {
      color: $color-gz-orange;
      &:visited {
        color: tint($color-gz-orange, 15%);
      }

      &:active, &:hover {
        color: shade($color-gz-orange, 15%);
      }
    }
  }

  label, legend {
    font-family: $font-family-display;
    color: $color-black;

  }

  legend {
    text-transform: uppercase;
    color: $color-white;
    @include font-size(2.5);
    border-bottom-color: $color-light-gray;
    @include padding-bottom(.5);
  }

  .alert, .alert * {
    color: $color-black;
  }

  .sidebar {
    background: none;
    margin-bottom: 0;
    @include social-media(3);
    border-radius: 5px;
    padding-bottom: 0;
  }

  .disclaimer {
    background: none;
    border: none;

    &.sidebar {
      margin: 0;
      padding: 0;
    }
  }

  .disclaimer, p.disclaimer, .disclaimer p {
    color: $color-white;
    color: rgba($color-white, .5);
  }

  .well-gz {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    @include mq-phone {
      width: 100%;
    }
    @include mq-tablet {
      width: 75%;
    }
  }

  // .splash-video, add to iframed youtube video
  &-video {
    margin: 0 auto;
    width: 100%;
    display: table;
    max-width: 100%;
    min-height: 300px;
    height: 600px;
    @include mq-tablet {
      height: 300px;
    }
    @include mq-phone {
      height: 300px;
    }
  }
}