@import "compass/css3";
.tag {
  display: block;
  height: auto;
  @include margin-bottom(.75);

  &:first-child {
    @include margin-top(.75);
  }

  &-title-label, &-title-text > .paged {
    @include font-size(1.625);
    @include line-height(0);
    margin: 0;
    @include margin-top(1.25);
    padding-right: (.25px * $leading);
    @include padding-bottom(.325);
    color: tint($color-gz-orange, 50%);
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    @include inline-block();
    font-style: normal;

    @include mq_cinema {
      @include margin-top(1.25);
    }
  }

  // .tag-title
  &-title {
    @include font-size(4.75);
    @include line-height(1);
    @include margin-bottom(1.375);
    @include margin-top(3);
    color: $color-light-gray;
    border-bottom: none;
    @include padding-bottom(0);
    text-transform: uppercase;

    @include mq-phone {
      @include font-size(3.75);
      @include line-height(.75);
    }

    &-label, &-image-container, &-text, .paged {
      float: left;
      margin: 0;
      display: block;
      @include line-height(0);
      @include mq-tablet {
        float: none;
        margin-top: 0 !important;
        display: block;
        line-height: normal;
        text-align: left;
      }
      @include mq-phone {
        float: none;
        margin-top: 0 !important;
        display: block;
        line-height: normal;
        text-align: left;
      }
    }

    .paged {
      float: none;
      @include inline-block();
    }

    &::after{
      content:"";
      display: block;
      clear: both;
    }

    //.tag-title-label
    &-label, & .paged {
      @include margin-top(.75);

    }

    //.tag-title-image
    &-image {
      max-height: 100%;
      width: auto;

      //.tag-title-image-container
      &-container {
        $tag-title-image-container-height: 3;
        @include height($tag-title-image-container-height);
        @include width($tag-title-image-container-height);
        @include border-radius(25px);
        overflow: hidden;
        @include margin(-($tag-title-image-container-height / 4.25), .25, 0, .25);
        @include mq-tablet {
          display: none;
        }
        @include mq-phone {
          display: none;
        }
        & + .tag-title-text {
          @include margin-top(.75);
        }
      }
    }

    // .tag-title-text
    &-text {
      @include margin(0, .25);
      @include mq-phone {
        @include margin(0,0);
      }
      @include mq-tablet {
        @include margin(0,0);
      }

    }

  }

  &-list-label {
    text-transform: uppercase;
    display: block;
    @include font-size(1);
    line-height: normal;
    color: $color-light-gray;
    font-weight: 700;

    // special case for .tag-list-label that's wrapped with .author block
    .author & {
      @include font-size(1.125);
      .post-list-item-tag & {
        @include font-size(1);
      }
    }
  }

  &-list {
    padding: 0;
    margin: 0;

  }

  &-list-item {

    @include margin-top(1);
    @include margin-bottom(1);
    @include inline-block();
    &:before {
      display: none;
    }
    a, span {

      @include font-size(.875);
      color: $color-gz-gray;
      @include padding-equal(.375);
      @include border-radius(5px);
      display: block;
      line-height: normal;
      background: tint($color-light-gray, 60%);
      color: $color-gz-gray;
      text-decoration: none;
      @include margin-top(-.875);
        &:visited {
          color: $color-secondary-2-0;
          background: tint($color-light-gray, 60%);
        }
        &:hover, &:active {
          color: $color-white;
          background: $color-gz-orange;
        }
    }

    // special case for tag-list-item that's wrapped with .author block
    .author & {
      a, span {
        @include font-size(1.125);
      }

      .post-list-item-tag & {
        a, span {
          @include font-size(.875);
        }
        img {
          @include height(.75);
          @include border-radius(5px);
          max-height: none;
          width: auto;
          max-width: none;
        }
      }

      img {
        @include height(1.125);
        width: auto;
      }

    }

  }
}