@include base_typography(1);

@include mq-tablet {
  @include base_typography(.9);
}

@include mq-phone {
  @include base_typography(.825);
}

.uppercase {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center, .txt-center {
  text-align: center;
}

.lighter {
  color: $color-light-gray;

   & .insert-page-title {
     color: inherit;
   }
}







