h1, h2, h3, h4, h5, h6 {
  @extend .text-color--dark;
  @extend .strong;
}

p {
  @extend .text-color--dark;
  font-weight: 400;
}

@include base_typography(1);

@include mq-tablet {
  @include base_typography(.85);
}

@include mq-phone {
  @include base_typography(.825);
}

.uppercase {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center, .txt-center {
  text-align: center;
}

.bold, .strong, b, strong {
  font-weight: 700;
}

.lighter {
  @extend .txt-color--highlight;

   & .insert-page-title {
     color: inherit;
   }
}







