@import "typography-text-styles";
.uppercase {
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  @extend .text-color--dark;
  @extend .strong;
}

p {
  @extend .text-color--dark;
  font-weight: 400;
}

@include base_typography(1);

@include mq-tablet {
  @include base_typography(.85);
}

@include mq-phone {
  @include base_typography(.65);
}






