{% extends "base/base.twig" %}
{% block article %}
.container
  .row
    {% set layout = (page.layout is defined ? page.layout|slugify : "") %}
    %div{:class=>"{{layout}}"}
      {% include ["partials/layouts/layout-" ~ layout ~ ".twig", "partials/layouts/layout-sidebar.twig"] %}
{% endblock %}



