{% extends "base/skeleton.twig" %}
{% block body %}

.home-outer
  .home-container
    .container
      .row
        .col-md-12
          .home-inner-container
            .home-inner-container-bg
            .masthead-logo
              %h1
                %a{:class=>"masthead-logo-link", :href=>"{{ function('home_url','/') }}"} {{ function("bloginfo","name") }}
            .home-content
              %h1{:class=>"title-page"} {{ function('_e', 'Oops! That page can&rsquo;t be found.', 'gigazone-gaming')}}
              %p {{function('_e', 'It looks like nothing was found at this location.', 'gigazone-gaming')}}
              .disclaimer.sidebar
                {% set disclaimer = function('get_posts',{'name':'riot-disclaimer', 'post_type':'post', 'post_status':'publish', 'numberposts': 1}) %}
                {% if disclaimer|length == 1 %}
                {{ function("apply_filters","the_content", disclaimer[0].post_content) }}
                {% endif %}
              .sidebar
                .sidebar-social-media
                  {% include "partials/social-media.twig" %}
    .home-footer
    {% include "partials/footer-js.twig" %}

{% endblock %}
