{% extends "base/skeleton.twig" %}
{% block body %}

.splash-outer
  .splash-container
    .container
      .row
        .col-md-12
          .splash-inner-container
            .splash-inner-container-bg
            .masthead-logo
              %h1
                %a{:class=>"masthead-logo-link", :href=>"{{ function('home_url','/') }}"} {{ function("bloginfo","name") }}
            .splash-content
              {{ function("apply_filters","the_content", page.post_content) }}
              .disclaimer.sidebar
                {% set disclaimer = function('get_posts',{'name':'riot-disclaimer', 'post_type':'post', 'post_status':'publish', 'numberposts': 1}) %}
                {% if disclaimer|length == 1 %}
                {{ function("apply_filters","the_content", disclaimer[0].post_content) }}
                {% endif %}
              .sidebar
                .sidebar-social-media
                  {% include "partials/social-media.twig" %}
    .splash-footer
    {% include "partials/footer-js.twig" %}

{% endblock %}
