.cMainDiv{
    text-align:center;
    background-image: url('/LeagueOfLegendsDisplay/Images/bg-default.jpg');
    background-size: 100% 100%;
}
.redButton{
    background-color: transparent;
    margin-bottom:50px;
    margin-top: 20%;
    font-size: 50px;
    color:white;
    outline: none;
    border: 10px solid transparent;
    border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
}
.blueButton{
    background-color: transparent;
    font-size: 50px;
    color:white;
    outline: none;
    border: 10px solid transparent;
    border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
    text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px red;
}
.blueButton:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,255), 0 17px 50px 0 rgba(0,0,0,1);
}
.redButton:hover{
    box-shadow: 0 12px 16px 0 rgb(255,0,0), 0 17px 50px 0 rgba(0,0,0,1);
}
.blueButton:active {
    box-shadow: 0 5px blue;
    transform: translateY(4px);
}
.redButton:active {
    box-shadow: 0 5px red;
    transform: translateY(4px);
}