html{
    font-family: futura-pt,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
}

body{
    background-image: url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png');
}
.startForm{
    text-align:center;
}
.hidden{
    display: none;
}
select{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.7);
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 10px;
}
.tournamentSelect{
    width: 60%;
    max-width: 535px;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
#label1{
    margin-right:60px;
}
#label2{
    margin-left:60px;

}

.startButton{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 17px;
}
.startButtonDisabled{
    opacity: 0.3;
}
.startFooter{
    position: fixed;
    width: 73%;
    text-align:center;
    opacity: 0.3;
    left:11%;
    overflow: hidden;
    z-index: -1;
}
#loader {
    border:10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    margin-right: auto;
    margin-left: auto;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#info{
    width:81%;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .5);
    word-wrap: break-word;
    border: 5px inset white;
    overflow-y:auto;
    font-weight:bold;
    line-height: 150%;
}
.console-header{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
}
.console-sub-header{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
#getChampions,#clearCache,#championOverride{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
#buttonContainer{
    width:81%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:1260px) {
    .button-Sub-Container{
        display: inline-block;
        width:33%;
    }
}
@media (min-width:1000px) {
    .button-Sub-Container{
        display: inline-block;
        width:30%;
    }

}

