.startForm{
    text-align:center;
}
select{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.7);
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 20px;
}
.startButton{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 5px;
}
.startFooter{
    position: absolute;
    bottom: 0;
    width: 80%;
    text-align:center;
    opacity: 0.6;
}
#myProgress {
    width:30%;
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    margin-right: auto;
    margin-left: auto;
}
#myBar {
    width: 1%;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    color: white;
    text-align: center;
}