html{
    font-family: futura-pt,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
}

body{
    background-image: url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png');
}
.startImage{
    text-align:center;
    max-width:60%;
    margin:auto;
}
.startForm{
    text-align:center;
}
.hidden{
    display: none;
}
select{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 5px 5px 5px 5px;

}
button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 5px 5px 5px 5px;

}
h1{
    text-align:center;
    color:white;
    font-size:30pt;
}
.playerNameContainer{
    text-align:center;
}
.summonerName{
    color:white;
    vertical-align:7px;
    font-size:15pt;
}
.icon{
    width:20%;
    height:auto;
    padding: 0 0 0 10px;
}
.playerInfo{
    color:white;
}
.playerImage{
    max-width:100%;
    height:auto;
    padding: 5px 5px 5px 5px;
}

.giga_teamImage{
    width:300px
}
.teamFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
    z-index:12;
}
@media (min-width:1080px) {
    .col-lg {
        width: 17%!important;
        display:inline-block;
        padding: 10px;
    }
}
@media (max-width:1079px) {
    .col-lg {
        width: 33%!important;
        display:inline-block;
    }
    .summonerName{
        color:white;
        vertical-align:7px;
        font-size:2vw;
    }
    .icon{
        width:15%;
        height:auto;
        padding: 0 0 0 10px;
    }
}
@media (max-width:850px) {
    .col-lg {
        width: 45%!important;
        display:inline-block;
    }
    .summonerName{
        color:white;
        vertical-align:7px;
        font-size:3vw;
    }
}
@media (max-width:530px) {
    .col-lg {
        width: 100%!important;
        display:inline-block;
    }
    .summonerName{
        color:white;
        vertical-align:7px;
        font-size:4vw;
    }
    h1{
        text-align:center;
        color:white;
        font-size:20pt;
    }
    .icon{
        width:15%;
        height:auto;
        padding: 0 0 0 10px;
    }
}
.mainDiv{
    text-align:center;
}

.spinner-container {
    height: 560px;
    width: 100%;
    max-width:300px;
    position: relative;
    text-align:center;
    margin:auto;
}

.spinner-overlay, .spinner-image {
    width: 100%;
    height: 100%;
    position: absolute;
}
.spinner-overlay {
    background: transparent url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png') center center repeat;
    z-index: 6;
    opacity: .6;
}

.spinner-image {
    z-index: 5;
    background: #000 url('/LeagueOfLegendsDisplay/Images/GZG-Atom-to-Animate.gif') center center no-repeat;
    opacity: .5;
    transition: opacity 0.5s ease-in-out;
}
.championImage{
    margin-top:10px;
    width: 100%;
    height: auto;
}
.imageContainer{
    height: 560px;
    width: 100%;
    max-width:300px;
    position: relative;
    text-align:center;
    margin:auto;
}
.spinner-container:hover > .spinner-image {
    opacity: 1;
}