html{
    font-family: futura-pt,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
}

body{
    background-image: url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png');
}
.hidden{
    display: none;
}
.mainDiv{
    text-align:center;
}
h1{
    margin: 0;
    text-align:center;
    font-size:60pt;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
    color: white;
}
.backgroundH1{
    background-image: url('/LeagueOfLegendsDisplay/Images/bg-default.jpg');
    border-radius: 10px;
    padding:10px;
}
.borderTop {
    width: 49%;
    display:inline-block;
    padding-left: 10px;
    margin-left: -10px;
    height: 26px;
    top: -21px;
    background: transparent url('/LeagueOfLegendsDisplay/Images/frame-sprite.png') no-repeat left -148px;
    margin-bottom: 10px;
}
.borderTop2 {
    width: 49%;
    display:inline-block;
    padding-left: 10px;
    margin-left: -10px;
    height: 26px;
    top: -21px;
    background: transparent url('/LeagueOfLegendsDisplay/Images/frame-sprite.png') no-repeat right -148px;
    margin-bottom: 10px;
}
.collapse{
    display:inline-block;
    vertical-align:top;
    color: white;
    overflow: hidden;
}
.collapse-b{
    border: 3px solid transparent;
    border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
    background: transparent url('/LeagueOfLegendsDisplay/Images/red_blue.jpeg') center center no-repeat;
    background-size: cover;
    margin-left: 5px;
    display:inline-block;
    vertical-align:top;
    color: white;
}
.collapse img{
    margin-top: 0;
}
.collapse-M-heading{
    text-decoration: underline;
    font-size: 11pt;
    color: #FBB042;
}
.collapse-heading{
    color: #FBB042;
    font-size: 9pt;
}
.rankV{
    font-size: 9pt;
}
.rankV img{
    width:35%
}
.playerNameContainer{
    text-align:center;
    margin-bottom: 10px;
    border: 10px solid transparent;
    border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
    background: transparent url('/LeagueOfLegendsDisplay/Images/blueFire.jpg') center center no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.summonerName{
    color:white;
}
.icon{
    border-radius: 50px;
    width:15%;
    height:auto;
    border-style: inset;
    border-color: #FFD700;
}
.playerInfo{
    color:white;
}
.playerBorder{
    border: 10px solid transparent;
    border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
    background: transparent url('/LeagueOfLegendsDisplay/Images/red_blue.jpeg') center center no-repeat;
    background-size: cover;
}
.playerStatsContainer{
    width:50%;
    display:inline-block;
    white-space: nowrap;
}
.playerMainHeading{
    text-decoration: underline;
    font-size: 15pt;
    color: #FBB042;
}
.playerHeading{
    color: #FBB042;
}
.rank{
    width:50%;
}
.unranked{
    opacity:.4
}
.spinner-container {
    margin:auto;
    padding-top: 10px;
    max-width:300px;
    position:relative;
    text-align:center;
}
.spinner-overlay {
    background:  url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png') center center repeat;
    z-index: 4;
    opacity: 0.6;
}
.spinner-image {
    z-index: 5;
    background:  #000 url('/LeagueOfLegendsDisplay/Images/GZG-Atom-to-Animate.gif') center center no-repeat;
    opacity: 0.6;
}
.loadChampion{
    width: 100%;
    height: auto;
    opacity:0;
    padding: 1px;
}
.imageContainer{
    height: 560px;
    width: 100%;
    max-width:300px;
    margin:auto;
}
.championImage{
    margin-top:10px;
    width: 100%;
    height: auto;
    padding:1px;
}
.championImage:hover {
    background-color: blue;
}
.teamFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
}
.giga_teamImage{
    width:300px
}
.col-lg{
    display:inline-block;
    margin: 10px;
    max-width:300px;
}
.v-align{
    vertical-align: top;
}
@media (min-width:1080px) {
    .col-lg {
        width: 17%!important;
    }
    .collapse{
        width:47%;
    }
    .collapse-b{
        width:47%;
    }
    .summonerName{
        font-size:12pt;
        vertical-align: 12px;
    }
}
@media (max-width:1079px) {
    .col-lg {
        width: 33%!important;
    }
    .collapse{
        width:47%;
    }
    .collapse-b{
        width:47%;
    }
    .summonerName{
        font-size:12pt;
        vertical-align: 18px;
    }
}
@media (max-width:1030px) {
    .col-lg {
        width: 45%!important;
    }
    .collapse{
        width:47%;
    }
    .collapse-b{
        width:47%;
    }
}
@media (max-width:530px) {
    .col-lg {
        width: 100%!important;
    }
    .collapse{
        width:47%;
    }
    .collapse-b{
        width:47%;
    }
}