// assign values to all variables used

// simple commands
$hidden: none;
$trans: transparent;
$inline: inline-block;
$wrap: break-word;
$no-wrap: nowrap;
$rel: relative;
$u: underline;

// backgrounds
$body-background: url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png');
$alt-body-background: url('/LeagueOfLegendsDisplay/Images/GZG-Atom-to-Animate.gif');
$header-background: url('/LeagueOfLegendsDisplay/Images/bg-default.jpg');
$border-background: transparent url('/LeagueOfLegendsDisplay/Images/frame-sprite.png') no-repeat right -148px;
$border-background2: transparent url('/LeagueOfLegendsDisplay/Images/frame-sprite.png') no-repeat left -148px;
$name-background: transparent url('/LeagueOfLegendsDisplay/Images/blueFire.jpg') center center no-repeat;
$player-stats-background: transparent url('/LeagueOfLegendsDisplay/Images/red_blue.jpeg') center center no-repeat;
$overlay: url('https://raw.githubusercontent.com/paulbunyannet/gigazonegaming-press-kit/master/backgrounds/gigazone-pattern-background-dark.png') center center repeat;
$spinner-img: #000 url('/LeagueOfLegendsDisplay/Images/GZG-Atom-to-Animate.gif') center center no-repeat;

//borders
$main-border-image: url('/LeagueOfLegendsDisplay/Images/background.jpg') 30 30 30 30 round;
$main-border-size: 10px solid transparent;
$border-sm: 3px solid transparent;
$border-height: 26px;
$border-top: -21px;
$icon-radius: 50px;
$extraStatsBorder: 2px inset;
$loader-border: 10px solid #f3f3f3;
$loader-border-radius: 50%;
$loader-border-top: 10px solid #3498db;
$info-border: 5px inset white;


//font
$main-font: futura-pt,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
$font-size-md: 16px;
$font-size-lg: 60pt;
$name-font-size: 15pt;
$minor-heading-color: #FBB042;

//spacing and sizing
$min-space: 5px;
$width: 100%;
$v-align: 20px;
$max-width: 300px;
$max-height: 560px;
$champNameBottom:30px;

//special and custom
$text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
$text-shadow-plain:1px 1px 2px black, 0 0 25px white, 0 0 5px black;
$box-shadow: 0 5px gray;
$complex-box-shadow: 0 12px 16px 0 rgb(255,255,255), 0 17px 50px 0 rgba(0,0,0,1);
$gold: #FFD700;
$opacity-md: .4;
$opacity-sm: .6;
$z-1: 1;
$faded: rgba(0, 0, 0, 0.7);
$smallFade: rgba(0,0,0,.3);
$noFade:rgba(0,0,0,0);
$blackFade: rgba(100, 100, 100, 0.7);
$blackFade-1: rgba(100, 100, 100, 0.5);
$whiteFade: rgba(255, 255, 255, .5);
$line-height: 150%;


// column sizing
$sz-xs: 17%!important;
$sz-sm: 33%!important;
$sz-md: 45%!important;
$sz-lg: 100%!important;