@import "material_palette";
$color-map: (
        primary-color-dark:   $primary-color-dark,
        primary-color:        $primary-color,
        primary-color-light:  $primary-color-light,
        primary-color-text:   $primary-color-text,
        accent-color:         $accent-color,
        primary-text-color:   $primary-text-color,
        secondary-text-color: $secondary-text-color,
        divider-color:        $divider-color
);