@import 'teamVariables';

.cMainDiv{
  text-align:center;
  background-image: $header-background;
  background-size: cover;
}
#team1{
  margin-top:$max-height - 400;
}
.teamButton{
  background-color: transparent;
  margin-bottom:$min-space + 5;
  margin-top: $min-space * 6;
  font-size: $font-size-md + 34;
  color:white;
  outline: none;
  border: $main-border-size;
  border-image: $main-border-image;
  text-shadow: $text-shadow-plain;
}
.teamButton:active {
  box-shadow: $box-shadow;
  transform: translateY(4px);
}
#info{
  width:$width - 60;
  height:$max-height - 410;
  margin-top: $min-space * 5;
  margin-left: auto;
  margin-right: auto;
  @include faded-background(255,.5);
  word-wrap: break-word;
  border: $info-border;
  overflow-y:auto;
  font-weight:bold;
  line-height: $line-height;
}
@media (max-width:530px) {
  h1{
    font-size: $font-size-lg - 30;
  }
  .teamButton{
    font-size: $font-size-md + 10;
    border: $border-sm;
    border-image: $main-border-image;
    text-shadow: $text-shadow-plain;
  }
  #team1{
    margin-top:$min-space * 10;
  }
  #info{
    height:$min-space * 10;
  }

}
