@import 'teamVariables';

.cMainDiv{
  text-align:center;
  background-image: $header-background;
  background-size: cover;
}
.teamButton{
  background-color: $trans;
  margin-bottom:$min-space + 5px;
  margin-top: $min-space * 6;
  font-size: $font-size-md + 34px;
  color:white;
  outline: none;
  border: $main-border-size;
  border-image: $main-border-image;
  text-shadow: $text-shadow-plain;
}
.teamButton:hover{
  box-shadow: $complex-box-shadow;
}
.teamButton:active {
  box-shadow: $box-shadow;
  transform: translateY(4px);
}
#info{
  width:$width - 60%;
  height:$max-height - 410px;
  margin-left: auto;
  margin-right: auto;
  background-color: $whiteFade;
  word-wrap: $wrap;
  border: $info-border;
  overflow-y:auto;
  font-weight:bold;
  line-height: $line-height;
}
