@import 'teamVariables';

html{
  font-family: $main-font;
}

body{
  background-image: $body-background;
}
.altBodyBackground{
  background: $alt-body-background;
  background-size: contain;
}
.hidden{
  display: none;
}
.mainDiv{
  text-align: center;
}
h1{
  margin: 0;
  text-align: center;
  font-size: $font-size-lg;
  text-shadow: $text-shadow;
  color: white;
}
.backgroundH1{
  background-image: $header-background;
  border-radius: $min-space + 5;
  padding: $min-space + 5;
}
.teamName{
  width: $width;
  text-align: center;
  font-size:$font-size-lg + 40;
  text-shadow: $text-shadow;
  color: white;
  @include faded-background(0,.7);
  padding-bottom: $min-space + 15;
}
.borderTop {
  width: $width - 51;
  display: inline-block;
  padding-left: $min-space + 5;
  margin-left:  $min-space - 15;
  height: $border-height;
  top: $border-top;
  background: $border-background2;
  margin-bottom: $min-space + 5;
}
.borderTop2 {
  width: $width - 51;
  display:inline-block;
  padding-left: $min-space + 5;
  margin-left: $min-space - 15;
  height: $border-height;
  top: $border-top;
  background: $border-background;
  margin-bottom: $min-space + 5;
}
.collapse{
  display:inline-block;
  vertical-align:top;
  color: white;
  width:$width - 50;
  position:relative;
}
.collapse-b{
  background: $player-stats-background-vert;
  background-size: cover;
  margin-left: $min-space + 1;
  width:$width - 60;
  display:inline-block;
  vertical-align:top;
  color: white;
  overflow-y:auto;
  border: $border-sm;
  border-image: $main-border-image;
}
.extra-stats{
  margin-right: auto;
  margin-left: auto;
  width:$width - 6;
  @include faded-background(0,.7);
  border: $extra-stats-border;
  overflow: hidden;
  height:32px;
  button{
    -webkit-border-radius: $min-space;
    -moz-border-radius: $min-space;
    border-radius: $min-space;
    @include faded-background(100,.5);
    font-size: $font-size-md;
    font-weight: bold;
    color: white;
    border: none;
    margin: $min-space;
    margin-right: auto;
    margin-left: auto;
    display:block;
  }
}
.collapse-b::-webkit-scrollbar {
  @include faded-background(0,0);
}
.collapse-b::-webkit-scrollbar-thumb {
  @include faded-background(0,.3);
}
.collapse img{
  margin-top: 0;
}
.collapse-M-heading{
  text-decoration: underline;
  font-size: $name-font-size - 4;
  color: $minor-heading-color;
}
.collapse-heading{
  color: $minor-heading-color;
  font-size: $name-font-size - 6;
}
.rankV{
  font-size: $name-font-size - 6;
}
.rankV img{
  width:$width - 65;
}
.playerNameContainer{
  text-align: center;
  margin-bottom: $min-space + 5;
  border: $main-border-size;
  border-image: $main-border-image;
  background: $name-background;
  background-size: cover;
  text-shadow: $text-shadow;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.summonerName{
  color: white;
}
.icon{
  border-radius: $icon-radius;
  width: $width - 85;
  height: auto;
  border: $gold inset;
}
.playerInfo{
  color: white;
}
.playerBorder{
  border: $main-border-size;
  border-image: $main-border-image;
  background: $player-stats-background;
  background-size: cover;
}
.playerStatsContainer{
  width: $width - 50;
  display: inline-block;
  white-space: nowrap;
}
.playerMainHeading{
  text-decoration: underline;
  font-size: $name-font-size;
  color: $minor-heading-color;
}
.playerHeading{
  color: $minor-heading-color;
}
.rank{
  width: $width - 50;
}
.unranked{
  opacity: $opacity-md;
}
.spinner-container {
  margin: auto;
  padding-top: $min-space + 5;
  max-width: $max-width;
  position: relative;
  text-align: center;
}
.spinner-overlay {
  background: $overlay;
  z-index: $z-1 + 3;
  opacity: $opacity-sm;
}
.spinner-image {
  z-index: $z-1 + 4;
  background: $spinner-img;
  opacity: $opacity-sm;
}
.loadChampion{
  width: $width;
  height: auto;
  opacity:0;
  padding: $min-space - 4;
}
.imageContainer{
  height: auto;
  width: $width;
  max-width: $max-width;
  margin: auto;
  position:relative;
}
.championName{
  position:absolute;
  bottom:$champNameBottom;
  color:white;
  width:$width;
  text-align: center;
  @include faded-background(0,.7);
}
.championImage{
  margin-top: $min-space + 5;
  width: $width;
  height: auto;
  padding:$min-space - 4;
}
h3{
  margin: 0;
  text-align:center;
  text-shadow: $text-shadow;
  color: white;
}
.teamFooter{
  position: fixed;
  bottom: 0;
  text-align: center;
  width:$width;
}
.giga_teamImage{
  width: $max-width;
}
.col-lg{
  display:inline-block;
  margin: $min-space + 5;
  max-width: $max-width;
}
.v-align{
  vertical-align: top;
}
#endResult{
  position:fixed;
  width:$width - 1;
  height:$width;
  overflow: hidden;
  bottom:0;
  text-align: center;
}
@media (min-width:1080px) {
  .col-lg {
    width: $sz-xs;
  }
  .summonerName{
    font-size:$name-font-size - 3;
    vertical-align: $v-align - 8;
  }
  #victory{
    margin-top:10%;
    width: $width - 30;
  }
  #defeat{
    margin-top:15%;
    width: $width - 60;
  }
}
@media (max-width:1079px) {
  .col-lg {
    width: $sz-sm;
  }
  .summonerName{
    font-size:$name-font-size - 3;
    vertical-align: $v-align - 2;
  }
  #victory{
    margin-top:300px;
    width: $width - 30;
  }
  #defeat{
    margin-top:350px;
    width: $width - 60;
  }
  .giga_teamImage{
    width: $max-width - 100;
  }
  .teamFooter{
    text-align: left;
    width:0;
  }
}
@media (max-width:1030px) {
  .col-lg {
    width: $sz-md;
  }
  #victory{
    margin-top:300px;
    width: $width - 30;
  }
  #defeat{
    margin-top:350px;
    width: $width - 60;
  }
  .giga_teamImage{
    width: $max-width - 150;
  }
  .teamFooter{
    text-align: left;
    width:0;
  }
}
@media (max-width:530px) {
  .col-lg {
    width: $sz-lg;
  }
  #victory{
    margin-top:350px;
    width: $width;
  }
  #defeat{
    margin-top:350px;
    width: $width - 30;
  }
  .spinner-container {
    padding: 0;
  }
  .spinner-image {
    background: $spinner-img-mobile;
    background-size: 100%;
  }
  .giga_teamImage{
    width: $max-width - 150;
  }
  .teamFooter{
    text-align: left;
    width:0;
  }
}

// This is the beginning of a testing carousel
.carousel {
  perspective: 200px;
  background: transparent;
  padding-top: 5%;
  overflow: hidden;
}
.spinner {
  transform-style: preserve-3d;
  height: 100px;
  transform-origin: 50% 50% -500px;
  transition: .5s;
}
.spinnerRank {
  transform-style: preserve-3d;
  transform-origin: 50% 50% -500px;
  transition: .5s;
  height:1px;
}
.spinner img {
  position: absolute;
  bottom:0;
  transform-origin: 50% 50% -500px;
  height: auto;
  border: $gold inset;
}
.spinnerRank div{
  position: absolute;
  width:$width;
  color:white;
  top:0;
  transform-origin: 50% 50% -500px;
}
.minimize{
  left:25%;
  width: $width - 50;
  border-radius: $icon-radius;
}
.explode{
  width: $width;
  left:0;
  border-radius: $icon-radius + 50;
}
.spinner img:nth-child(1) { transform:rotateY(0deg);  }
.spinner img:nth-child(2) { transform: rotateY(-120deg); }
.spinner img:nth-child(3) { transform: rotateY(-240deg); }

.spinnerRank div:nth-child(1) { transform:rotateY(0deg);  }
.spinnerRank div:nth-child(2) { transform: rotateY(-120deg); }
.spinnerRank div:nth-child(3) { transform: rotateY(-240deg); }
.carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -3rem;
  border-bottom: none;
  line-height: 0; }
.carousel ~ span:hover { color: #888; cursor: pointer; }