{% extends "base/app.twig" %}
{% block body %}
    <div class="center-block center-layout">
        <div class="container-fluid">
        <h1 id="page-title" class="page-title">{{ block('title') }}</h1>
        <div class="clearfix"></div>
        {# get messages #}
        {% include "base/partials/messages.twig" %}
        {# main content area #}
        {{ block('content') }}
        </div>
    </div>
{% endblock %}