{% extends "base/app.twig" %}
{% block body %}
<div class="container default-layout" id="page-content">
    <div class="row">
        <div class="col-md-12">

            {# main title #}
            <div class="margin-lg-bottom">
                <h1 id="page-title" class="page-title"><img src="{{ url('content/img/'~ site_name_slug ~'.svg') }}" class="title-logo title-logo-left" alt="{{ site_name }}">{{ block('title') }}</h1>
            </div>

            {# get messages #}
            {% include "base/partials/messages.twig" %}

            {# main content area #}

            {{ block('content') }}
            <div class="margin-md-bottom"></div>
        </div>
    </div>
</div>
{% endblock %}