{% if function("is_front_page") == false %}
    {% if (section.id is defined and this_post is defined and section.id == this_post.post_parent and single is defined and single == true) or (section.id is defined and section.id == page.id) %}
        <h1 class="tag-title">
            <span class="tag-title-text">{{ section.post_title }} {% include "partials/archive-paged.twig" %}</span>

        </h1>
        <hr class="divider horizontal dashed margin-after">
    {% endif %}
{% endif %}